<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="asistenciapracticantes.html" class="brand-link">
        <span class="brand-text font-weight-light">FABLAB</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-header">Practicantes</li>

                <li class="nav-item">
                    <a href="../admin/registroasistencia.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Marcar Entrada Practicantes</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../admin/asistenciapracticantes.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Asistencia de practicantes</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../admin/practicante.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Practicantes</p>
                    </a>
                </li>

                <li class="nav-header">Asistencia</li>

                <li class="nav-item">
                    <a href="../admin/reporteasistencia.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Cursos</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../admin/reportesemillero.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Semillero</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../admin/reporteclase.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Clase</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../admin/reportegrado.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Sustentacion Proyecto de Grado</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../admin/reporteasistenciasocializacion.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Socializacion</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../admin/reporteasistenciasocializacioncolegio.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Socializacion Colegio</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../admin/reportegrabacion.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Grabacion</p>
                    </a>
                </li>

                <li class="nav-header">Administracion</li>

                <li class="nav-item">
                    <a href="../admin/colegio.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Colegios</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../admin/curso.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Cursos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../admin/aula.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Salones</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../admin/universidad.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Universidades</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../admin/programa.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Programas Academicos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../admin/semillero.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Semilleros</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../admin/poblacion.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Poblaciones Especiales</p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="../admin/persona.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Personas</p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>